/* Write your CSS code here */
.heading1 {
  font-size: 25px;
  font-family: Roboto;
  color: #12022f;
}
.paragraph1 {
  font-size: 17px;
  font-family: Roboto;
  color: #616e7c;
  font-weight: 600;
}
.image1 {
  width: 120px;
  height: 120px;
  margin: 0px;
}
.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
